table {
    width: 100%;
    margin-top: 1em;
  }
  mat-form-field {
    margin-bottom: 1em;
  }
  .button-container {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    margin-top: 1rem;
  }
  
  .button-container button {
    font-weight: bold;
    letter-spacing: 0.5px;
    padding: 0.5em 1.5em;
    border-radius: 6px;
  }