<h1>HackerNews App</h1>

<!-- story-table.component.html -->
<mat-form-field appearance="outline" style="width: 100%;">
  <mat-label>Search</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Filter by title" />
</mat-form-field>

<div>
<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

  <!-- Index Column -->
  <ng-container matColumnDef="index">
    <th mat-header-cell *matHeaderCellDef>#</th>
    <td mat-cell *matCellDef="let element; let i = index">{{ i + 1 }}</td>
  </ng-container>

  <!-- Title Column -->
  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Title</th>
    <td mat-cell *matCellDef="let element">{{ element.title }}</td>
  </ng-container>

  <!-- URL Column -->
  <ng-container matColumnDef="url">
    <th mat-header-cell *matHeaderCellDef>URL</th>
    <td mat-cell *matCellDef="let element">{{ element.url }}</td>    
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

 <mat-paginator [pageSizeOptions]="[10,20,50]" showFirstLastButtons></mat-paginator> 
</div>
<div class="row">
<!-- Go to Page Input -->
  <div class="go-to-page">
    <label for="goToPage">Go to page: </label>
    <input
      id="goToPage"
      type="number"
      min="1"
      [max]="totalPages"
      [(ngModel)]="pageInput"
      (keyup.enter)="goToPage()"
      placeholder="Enter page number"
    />
    <button mat-raised-button color="primary" (click)="goToPage()">Go</button>
    <span *ngIf="totalPages"> (Total Pages: {{ totalPages }}) </span>
  </div>

  <div class="button-container">
    <button mat-raised-button color="primary" (click)="prevPage()" >
      ⬅ Previous
    </button>
    <button mat-raised-button color="accent" (click)="nextPage()"
    >
      Next ➡
    </button>
  </div>
</div>