table {
    width: 100%;
    margin-top: 1em;
  }
  mat-form-field {
    margin-bottom: 1em;
  }
  .button-container {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    margin-top: 1rem;
  }
  
  .button-container button {
    font-weight: bold;
    letter-spacing: 0.5px;
    padding: 0.5em 1.5em;
    border-radius: 6px;
  }
  .go-to-page {
    margin-top: 16px;
    display: flex;
    align-items: center;
    gap: 8px;
  }
  
  .go-to-page input {
    width: 100px;
    padding: 4px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .mat-elevation-z8 {
    width: 100%;
    margin-bottom: 16px;
  }
  .loader-overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 500px;
  }